:root {
    --main-purple:#24116a;
    --main-blue: #3ec8cf;
}

.fa-upload{
    width: 150px;
    height: auto;
    color: var(--main-purple);
}


.text-holder{
    display: block;
    color: var(--main-purple);
}

#upper-text{
    margin-top: 2em;
}

#upper-text-p{
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 1.6em;
}

#below-text-p{
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.upload-icon{
    margin-top: 15em;
}

/* #dump-file{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
} */

#file-wrap{
    width: 0;
    height: 0;
    overflow: hidden;
}

#change-dump,
#upload-dump{
    width: 200px;
    display: none;
}

#selected-file{
    margin-top: 1em;
    color: var(--main-purple);
    opacity: 0;
}